# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Object files and cached files
*.o
*.a
*.bak

# Build directories
bin/

# Logs and temp files
*.log
*.tmp
*.swp
*.bak
*.log
.DS_Store

# Ignore editor or IDE directories
.idea/
.vscode/
*.iml

# examples directory: ignore everything except Go source files and documentation
examples/*/*
!examples/*/*.go
!examples/*/*.txt
!examples/*/*.md
!examples/*/*.rst
!examples/*/*.asciidoc
!examples/*/*.1*

# images not in img/
*.bmp
*.gif
*.jpeg
*.jpg
*.png
*.webp
!img/*

# Orbiton include.txt file
include.txt

cxx2
.cxxcache
